section.dashboard {
    div.albums {
      h2 {
        margin-top: 48px;
        margin-bottom: 48px;
      }
   
      margin-bottom: 48px;
    }
    hr{
      background-color: #00dbb0;
      height: 2px !important;
      border: 0;
    }
}